<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<!-- if this boolean statement evaluates to true it will not display this, if the boolean statement evaluates to false it will display it-->
<!--<p th:unless="${events} and ${events.size()}">No events!</p>-->

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event}"></td>
    </tr>
</table>

</body>
</html>